script.
    function handleCredentialResponse (args) {
        console.log({args})
    }

script(src='https://accounts.google.com/gsi/client' async='' defer='')
#g_id_onload(data-client_id=`${googleCloudAuthId}` data-callback='handleCredentialResponse')
.g_id_signin(data-type='standard')
